@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
  --light-green: #299;
  --dark-green: #279;
}

* {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}